body{
    background-color: darkblue;
}

h1 {
    margin: 0
}

#topPanel{
    display: flex;
    padding: 10px;
    font-size: 2vh;
    background-color: grey;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px 20px;
}

#btnsContainer{
    display: flex;
    column-gap: 20px;
    justify-content: space-between;
}

.topBtn{
    background-color: lightblue;
    font-size: 4vh;
    border-color: darkblue;
    border-style:dashed;
}

#gameBoardContainer{
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}

#gameBoard{
    --numCol: 10;
    --numRow: 10;
    display: inline-grid;
    grid-template-columns: repeat(var(--numCol), calc(min(70vh, 80vw) / var(--numCol)));
    grid-template-rows: repeat(var(--numRow), calc(min(70vh, 80vw) / var(--numRow)));
    gap: 2px;
    border-width: 2px;
    padding: 2px;
    background-color: lightgreen;
    text-align: center;
    
}

.square{
    padding-top: 25%;
}

.hidden{
    background-color: rgb(255, 98, 0);
    text-indent: -9999px;
}

.flagged{
    background-color: red;
}

.found{
    background-color: lightcoral;
}

#settingsComponent{
    display: none;
}

#settingsContainer{
    position: absolute;
    background-color: lightblue;
    width: 200px;
    padding: 5px;
    right: 0px;
    bottom: 0px;
}

